
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #CCF8C4    ;

 

}

.navbar {
    position: fixed;
    top: 0;
    background-color: #008040    ;
    height: 6rem;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    justify-items: center;
    align-items: center;


}

.logo-text{
    fill: #17254B;
    color: #17254B;
}
.accesibility{
    width: 6rem;
    height: 2rem;
    background-color: #CCF8C4;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: #17254B;
}

.color-icon{
    fill: #17254B;
    color: #17254B;
}

.first-screen{
    background-color: #CCF8C4;
    height: 100vh;
    width: 100vw;
    margin-top: 7rem;

}
.redirection {
    width: 100vw;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 1rem;
    color: #17254B;
    height: 1.8rem;
    text-decoration: none;
    text-align: center;
    gap: 1rem;
  }

  .carte{
    width: 20rem;
    width: 33rem;
    background-color: white;
    border-radius: 1rem;
    border-color: #17254B;
  }

