@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

body {
  font-family: "Archivo Black", sans-serif;
  margin: 0;
  background-color: #ccf8c4;
  overflow-x: hidden;
}
.navbar {
  position: fixed;
  top: 0;
  background-color: #008040;
  height: 7rem;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  justify-items: center;
  align-items: center;
}

.logo-text {
  fill: #17254b;
  color: #17254b;
}
.accesibility {
  width: 6rem;
  height: 2rem;
  background-color: #ccf8c4;
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #17254b;
}

.color-icon {
  fill: #17254b;
  color: #17254b;
}

.first-screen {
  background-color: #ccf8c4;
  height: 100vh;
  width: 100vw;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.redirection {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  color: #17254b;
  height: 1.8rem;
  text-decoration: none;
  text-align: center;
  gap: 2rem;
  font-size: 1.5rem;
}

.carte {
  display: flex;
  width: 20rem;
  height: 33rem;
  background-color: white;
  border-radius: 1rem;
  border: 4px solid #17254b;
}

.second-screen {
  background-color: #37bd3d;
  height: 47rem;
  width: 100vw;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.stat-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #17254b;
  font-style: bold;
  text-align: center;
}

.stat {
  display: flex;
  flex-direction: row;
  color: #17254b;
  font-style: bold;
  gap: 1rem;
  height: 5rem;
  justify-items: center;
  align-items: center;
}
.text {
  color: #17254b;
  font-size: 3.5rem;
}
.text-2 {
  color: #ccf8c4;
  font-size: 2rem;
  margin-top: -0.5rem;
  font-family: "Arial", sans-serif;
}
.text-title {
  color: #ccf8c4;
  font-size: 2.5rem;
}
.svg-stat {
}

.third-screen {
  background-color: #ccf8c4;
  height: 47rem;
  width: 100vw;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

swiper-container {
  width: 240px;
  height: 320px;
}

swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

swiper-slide:nth-child(1n) {
  background-color: rgb(255, 255, 255);
}

swiper-slide:nth-child(2n) {
    background-color: rgb(255, 255, 255);
}

swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}

.cardbtn {
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
  height: 3rem;
  width: 10rem;
  border-radius: 1rem;
  background-color: #17254b;
  color: #fff;
  text-decoration: none;
  font-size: medium;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.logo-assoc {
  width: 10rem;

}
.text-assoc {

  color: #17254b;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}
